.paragraph {
    font-family:'Raleway', sans-serif;
    line-height: 1.5;
}


a {
    transition: all 0.3s ease-out 0s;
    color: rgb(22, 28, 45) !important;
    text-decoration: none;
    background-color: transparent;
}

.text-purple {
    color: #442d7c !important;
}

header {
    padding: 1rem;
}

a.navbar-brand, a.nav-link {
    font-weight: bold;
}

section {
    padding-top: 6.5rem;
    padding-bottom: 5rem;
}

p.heading, p.contact-heading {
    font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(22, 28, 45);
    margin-bottom: 40px;
}

h2.heading {
    font-weight: 700;
    margin-bottom: 0px;
    color: rgb(22, 28, 45);
    letter-spacing: -2.81px;
    font-size: 50px;
    line-height: 56px;
}

h2.contact-heading {
    font-weight: 700;
    letter-spacing: -2.5px;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0px;
    color: rgb(22, 28, 45);
}

h4.footer-heading {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(22, 28, 45);
}

.contact-dot {
    box-sizing: border-box;
    min-width: 0px;
    margin-right: 13px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.contact-btn {
    all: unset;
    font-family: 'Raleway' sans-serif;
    color:white;
    font-weight:bold;
    background:#9795ef;
    padding:10px 30px;
    cursor: pointer;
}

.contact-btn:hover{
    background:linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    transition: all 0.5s;
    letter-spacing: 1px;
}

.project-detail {
    background-color: white;
    padding:20px;
    border-top:3px solid;
    border-image-source: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    border-image-slice: 1;
    border-width: 5px;
}

p.project-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 8px;
}

h4.project-heading:hover{
    letter-spacing: 1px;
}

h4.project-heading:after{
    content:"→ ";
    position: absolute;
    right:20px;
    font-size:25px;
    font-weight:normal;
}

h4.project-heading {
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1.2;
    color: #333
}

.divider:after{
    content: " ";
    height:5px;
    width:40px;
    background-color: #333;
    display:block;
    margin-top:50px;
}

.about-img {
    max-width: 200px;
}

.card{
    border-radius: 25px;
    box-shadow:0 20px 40px -15px rgb(0 0 0 / 25%);
    border:none;
}

.card img{
    object-fit: cover;
}

#about{
    color:white;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

#about .heading{
    color:white;
}

#about .desc{
    min-height:100px;
}

.doublepadding{
    padding:30px;
}

.form-wrap .form-control{
    border-radius:20px;
    margin-bottom: 20px;
    border:1px solid;
    border-image-source: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    border-image-slice: 1;
    border-width: 2px;
}


@media (min-width: 576px) {
    h2.heading {
        font-size: 66px;
        line-height: 70px;
    }

    h2.contact-heading {
        font-size: 50px;
        line-height: 62px;
    }

    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    h2.heading {
        font-size: 76px;
        line-height: 84px;
    }

    h2.contact-heading {
        font-size: 60px;
        line-height: 70px;
    }

    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }

    .scrolling {
        transition: all 0.4s ease 0s;
    }

    .reveal-header {
        transform: translateY(0%);
        box-shadow: rgb(65 62 101 / 10%) 0px 12px 34px -11px;
        z-index: 9999;
        background: rgb(255, 255, 255);
    }
}

@media (min-width: 1200px) {
    h2.heading {
        font-size: 80px;
        line-height: 84px;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}